.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:60%;
}

#login-form input:first-child {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px white solid;
    background-color: transparent;
    width: 500px;
    height: 70px;
    font-size: 50px;
    text-align: center;
}

#login-form input:first-child:focus {
    outline: none;
    color: white;
}

#login-form input:first-child::placeholder {
    color: white;
    font-size: 50px;
    text-align: center;
}

#login-form input:last-child {
    display: none;
}